* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
}

.square {
    width: 8rem;
    height: 8rem;
    border: 0.5px solid gray;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "O";
    font-size: 4rem;
    line-height: 8rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "X";
    font-size: 4rem;
    line-height: 8rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}